<h1><%= @genre.name %></h1>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Edit", edit_genre_path(@genre), class: "button" %>
    <%= link_to "Delete", @genre, class: "button", method: :delete, data: { confirm: "Are you sure?" } %>
  </section>
<% end %>