<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

<% @movies.each do |movie| %>
    <li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white hover:bg-red-100 text-center shadow">
      <a href="<%= movie_path(movie) %>">
        <div class="flex flex-1 flex-col my-8 p-8">
        <%= main_image(movie) %>
        <h3 class="mt-6 text-lg font-medium text-gray-900"><%= movie.title %></h3>
      </div>
      </a>
    </li>
<% end %>

</ul>

<% if current_user_admin? %>
  <section class="admin">
      <%= link_to "Add New Movie", new_movie_path, class: "button" %>
  </section>
<% end %>
