<ul>
<% @movies.each do |movie| %>
    <li>
        <strong><%= movie.title %></strong> (<%= movie.rating %>):
        <%= number_to_currency(movie.total_gross, precision: 0) %>
    </li>
<% end %>
</ul>