<footer class="bg-gray-900">
    <p class="py-6 text-gray-400">
        Copyright &copy; <%= Time.now.year %>
        <%= link_to 'Ian Johnson', 'https://www.tacoda.dev', class: 'text-gray-400 hover:text-gray-300' %>
    </p>
</footer>
